<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache"
         testdox="true">
    
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="API_USERNAME" value="cenycauniversidad" />
        <env name="API_PASSWORD" value="OJyJieGAtbLhD6" />
    </php>

    <testsuites>
        <testsuite name="Facturama PHP SDK test suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>